$gradientBackground: linear-gradient(120deg,#fd9e02,#9a130e);
.toggler {
    background: $gradientBackground;
}
.forms {
    width: 100%;
    font-size: 1rem;
    display: inline-flex;
    flex-direction: row;
    a {
        color: #fd9e02;
        transition: 0.3s ease;
        padding: 0px 5px;
        text-decoration: none;
        &:visited {
            color: #fd9e02;
        }
        &:hover {
            color: #bb3e03;
        }
    }
        
}